@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbtn{
    @apply hidden sm:flex lg:hidden w-7 h-7 hover:scale-110 duration-300 ease-out 
  }
}


@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'SUIT-Regular';
}
