@tailwind base;
@font-face {
  font-family: 'S-CoreDream-4Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@tailwind components;
@tailwind utilities;

@layer components {
  .navbtn{
    @apply hidden sm:flex lg:hidden w-7 h-7 hover:scale-110 duration-300 ease-out 
  }
}

label {
  font-family: 'Pretendard-Regular';
}

*, pre {
  font-family: 'S-CoreDream-3Light';
}